@use "./styles/variables/main_colors_vars.module.scss" as *;
.submit {
  width: 60%;
}
.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  //   height: 300px;
  .modalLogo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .largeModalLogo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .xlModalLogo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form {
    margin-top: 20px;
    width: 100% !important;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
  }
  .desc {
    margin-block: 20px;
    text-align: center;
    color: $title_color;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .ok {
    min-width: 40%;
  }
}
