@use "/src/styles/colors.module" as *;

.cardlogo {
  cursor: pointer;
  opacity: 0.6;
  transition: all 250ms ease-in-out;
  display: flex;
  width: 38px;
  height: 38px;
  background: whitesmoke;
  border-radius: 4px;
  justify-content: center;
  padding: inherit;
  &:hover {
    opacity: 1;
  }
  &.active * {
    opacity: 1;
    fill: $primary_color_1;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
