@use "/src/styles/variables/main_colors_vars.module" as *;
.cookiesModal {
  width: 100% !important;
  max-width: unset;
  position: absolute;
  bottom: 0;
  top: unset;
  padding: 0;
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
      max-width: 350px;
      height: 200px;
      margin: auto;
    }
    .cookieIcon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $primary_color_1;
    }
    .buttons {
      display: flex;
      .btn {
        margin-inline-end: 10px;
        background-color: $primary_color_1;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
