@use "/src/styles/variables/main_colors_vars.module" as *;

.rowContainer {
  width: 98%;
  height: 65px;
  background-color: $icon_color_op_2;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  color: $icon_color;
  font-weight: 500;
  margin-block: 15px;
  transition: all 250ms;
  &:hover {
    background-color: $primary_color_1_2;
    color: $white;
  }
  &.active {
    background-color: $primary_color_1 !important;
    color: $white;
    transform: scale(1.02);
  }
  .item {
    // background-color: red;
    width: 18%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .icons {
    // background-color: red;
    margin-inline-start: auto;
    width: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .icon {
      transition: transform 250ms;
      transform: scale(1);
      font-size: 20px;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
