@use "/src/styles/variables/main_colors_vars.module" as *;

//layout vars
$sider_background: $primary_color_1;
$sider_info_background: $white;
$content_info_background: $white;
$content_background: $white_smoke;
$menu_icon_color: $white;
$active_menu_icon_color: $primary_color_1;
$active_menu_item_background: $white;

//table
$table_row_hover_color: $primary_color_1_op;
$table_row_active_color: $primary_color_1_op2;

//typography vars
$typo_primary_color: $primary_color_1;
$typo_secondary_color: $secondary_color_1;
// $title_color: $secondary_color_1;
$text_color: $dark_gray_color;
$desc_color: $icon_color;

// button vars
$primary_button_background: $primary_color_1;
$primary_button_color: $black;

$primary_light_button_background: $primary_color_1;
$primary_light_button_color: $white;

$secondary_button_background: $secondary_color_1;
$secondary_button_color: $black;

$secondary_light_button_background: $primary_color_2;
$secondary_light_button_color: $white;

$text_button_background: transparent;
$text_button_color: $black;

$link_button_background: transparent;
$link_button_color: $black;

$ghost_button_background: $primary_color_2;
$ghost_button_color: $black;

// avatar
$avatar_background: $dark_gray_color;
$avatar_text_color: $light_gray_color;

:export {
  title_color: $title_color;
  text_color: $text_color;
  avatar_background: $avatar_background;
  avatar_text_color: $avatar_text_color;
}
