$primary_color_1: #e61c5f;
$primary_color_1_op: #e61c5f2a;
$primary_color_1_op2: #f5276b;
$primary_color_2: #c2327f;
$primary_color_3: #9e499f;
$secondary_color_1: #7b60bf;
$secondary_color_2: #d8d2e6;

$errors_color_1: #dc6e6e;
$errors_color_2: #ec9e9ed1;
$errors_color_3: #ec9e9e92;
$errors_color_4: #ec9e9e47;
$info_color: #2196f3;
$warning_dark: #ff9811;
$warning_two: #fbf8e1;
$warning_light: #f5e6df;
$success_dark: #23a494;
$success_light: #81ddbb85;
$success_color: green;
$active_color: #39c54f;
$light_color: #f0f1f6;
$white_smoke: #f3f6f9;
$white: white;
$black: black;
$dark_color: #0e0e2c;
$title_color: #484964;
$subtitle_color: #5f607c;
$dark_gray_color: #4a4a68;
$light_gray_color: #d1d3d4;
$light_gray_color_2: hsla(0, 0%, 32%, 0.07);
$icon_color: #8c8ca1;
$dorian: rgba(82, 82, 82, 0.075);

:export {
  primary_color_one: $primary_color_1;
  primary_color_two: $primary_color_2;
  primary_color_three: $primary_color_3;
  secondary_color_one: $secondary_color_1;
  secondary_color_two: $secondary_color_2;
}
:export {
  errors_color_one: $errors_color_1;
  errors_color_two: $errors_color_2;
  errors_color_three: $errors_color_3;
  errors_color_four: $errors_color_4;
  warninig_dark: $warning_dark;
  success_dark: $success_dark;
  info_color: $info_color;
  warning_two: $warning_two;
  warning_light: $warning_light;
  dark_color: $dark_color;
  dark_gray_color: $dark_gray_color;
  icon_color: $icon_color;
  light_color: $light_color;
  light_gray_color_two: $light_gray_color_2;
  white: $white;
  black: $black;
  white_smoke: $white_smoke;
  success_color: $success_color;
  active_color: $active_color;
}
