@use "/src/styles/variables/main_colors_vars.module.scss" as *;

.cardContainer {
  width: 100%;
  height: 160px;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 500ms;
  cursor: pointer;
  &.selected {
    background-color: $primary_color_1 !important;
  }
  &:hover {
    background-color: $primary_color_1 !important;
    box-shadow: -1px 1px 25px -4px rgba(0, 0, 0, 0.2);
    .fileCountContainer *,
    .createAtContainer * {
      transition: all 600ms;
      color: $white !important;
    }
  }
  padding-inline: 20px;
  .logoAndMembersContainer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border-radius: 10px;
      width: 50px;
      height: 50px;
      .logo {
        color: $primary_color_1;
        font-size: 30px;
      }
    }
    .membersContainer {
      max-width: 150px;
      overflow: hidden;
    }
  }
  .contentContainer {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    height: 80px;
    // background-color: red;
    .name {
      line-height: 2rem !important;
    }
    .sizeInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      .fileCountContainer {
        & * {
          color: $icon_color;
        }
      }
      .size {
        line-height: 1.5rem !important;
      }
    }
    .createAtContainer {
      width: 100%;
      height: 30px;
      & * {
        color: $icon_color;
      }
    }
  }
}
